doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='main.css')

  body
    #page
      != yield
      footer
        pre © #{new Date().getFullYear()} #{author}
        pre
          a(href=twitter.url target='_blank')
            img(src=twitter.logo class='logo twitter')
        pre
          a(href=instagram.url target='_blank')
            img(src=instagram.logo class='logo instagram')
