footer
  pre © #{new Date().getFullYear()} #{author}
  pre
    a(href=twitter.url class='logo twitter' target='_blank')
      img(src=twitter.logo class='logo twitter')
  pre
    a(href=instagram.url target='_blank')
      img(src=instagram.logo class='logo instagram')
