footer
  pre © #{new Date().getFullYear()} #{author}
  pre
    a(href=twitter.url class='logo twitter' target='_blank' aria-label='twitter' rel='noopener')
      img(src=twitter.logo class='logo twitter' alt='')
  pre
    a(href=instagram.url target='_blank' aria-label='instagram' rel='noopener')
      img(src=instagram.logo class='logo instagram' alt='')
